@media screen and (min-width: 768px) {
    
  .users_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
  }
}

.users_list {
  grid-column: 1;
  grid-row: 1;
  list-style-type: none;
  margin: 0;
  padding: 1.5rem;
}
.users_list li {
  text-align: center;
}
.editor_area {
  grid-column: 2;
  grid-row: 1;
  background-color: rgba(255,255, 255, .8);
}
.editor_area {
  padding: 1.5rem;
}
.new_user_button {
  margin-bottom: 1.5rem;
}