.user_card {
    font-size: 1.6rem;
}

.user_card dl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.user_card dl dt {
    font-weight: 600;
}
.user_card dl dd {
    margin: 0;
}
.user_card_footer {
    padding: 1rem 0;
    text-align: right;
}

.user_card_footer button {
    border: 1px solid;
    margin-left: 1.5rem;
    padding: .5rem 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    border-radius: .3rem;
}